# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [7]:

series=pd.Series([4, 8, 15, 16, 23,42])
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
data1=[4,"dev",[1425,"ahirwal"],457,78,859,78,47]
s1=pd.Series(data1)
s1

0                  4
1                dev
2    [1425, ahirwal]
3                457
4                 78
5                859
6                 78
7                 47
dtype: object

# Q3. Create a Pandas DataFrame that contains the following data:

In [9]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)


df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
Pandas DataFrame:
    
Definition: A two-dimensional labeled data structure with columns of potentially different types.
Structure: Similar to a table or a spreadsheet with rows and columns.
Index and Columns: Each row and each column has a unique label.

In [ ]:
example:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)


df.head()

In [ ]:
DataFrame vs. Series in Pandas 

Pandas Series:
    
Definition: A one-dimensional labeled array capable of holding data of any type (integers, strings, floats, etc.).
Structure: Similar to a column in a table or an Excel spreadsheet.
Index: Each element in a Series has a unique label (index).

In [ ]:
series=pd.Series([4, 8, 15, 16, 23,42])
series

Key Differences:
    
Dimension:

Series: One-dimensional.
    
DataFrame: Two-dimensional.
    
Structure:

Series: Single column of data with an index.
    
DataFrame: Multiple columns of data, where each column can have different types of data.
Usage:

Series: Used when you need a single column of data.
    
DataFrame: Used when you need a table-like structure with multiple columns and rows.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
a.Selection and Indexing:

df['column_name'] or df.column_name: Select a single column.
df[['column_name1', 'column_name2']]: Select multiple columns.
df.loc[row_indexer, column_indexer]: Access a group of rows and columns by labels.
df.iloc[row_indexer, column_indexer]: Access a group of rows and columns by integer position.

In [ ]:
# Example: Selecting a single column and displaying its values:

import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data

In [ ]:
Filtering and Querying:

df[df['column_name'] > value]: Filter rows based on a condition.
df.query('column_name > value'): Filter rows using a SQL-like query syntax.

In [ ]:
# Example: Filtering rows based on a condition:


filtered_df = df[df['Age'] > 25]
print(filtered_df)

In [ ]:
sorting:

df.sort_values(by='column_name', ascending=False): Sort DataFrame by one or more columns.
df.sort_index(): Sort DataFrame by index labels.

In [ ]:
# Example: Sorting DataFrame by a column:

sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

In [ ]:
Aggregation and Grouping:

df.groupby('column_name').agg({'column_name': 'function'}): 
    Perform aggregation operations (like sum, mean, count) on grouped data.

In [ ]:
# Example: Grouping data by Gender and calculating the average age:
        
        
avg_age_by_gender = df.groupby('Gender').agg({'Age': 'mean'})
print(avg_age_by_gender)

In [ ]:
Data Cleaning and Transformation:

df.dropna(): Remove missing values (NaN).
df.fillna(value): Replace missing values with a specific value.
df.apply(function): Apply a function to each element in the DataFrame.
    
Example: Filling missing values with a specific value:

In [ ]:

df['Age'].fillna(df['Age'].mean(), inplace=True)

In [ ]:
Combining DataFrames:

pd.concat([df1, df2]): Concatenate DataFrames vertically or horizontally.
pd.merge(df1, df2, on='key_column'): Merge DataFrames based on a common column.
    
Example: Concatenating two DataFrames vertically:

In [ ]:

combined_df = pd.concat([df1, df2], axis=0)

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 DataFrame

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
series_name = pd.Series(['Alice', 'Bob', 'Claire'])
series_age = pd.Series([25, 30, 27])

df = pd.DataFrame({
    'Name': series_name,
    'Age': series_age})
df.head()

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27