# Q1. What is a database? Differentiate between SQL and NoSQL databases.

What is a database?

A database is an organized collection of data, generally stored and accessed electronically from a computer system. 
Databases can be complex, and  they are managed by Database Management Systems (DBMS).

Differences between SQL and NoSQL databases:

SQL Databases:

Relational databases.

1.Use structured query language (SQL) for defining and manipulating data.
2.Schema-based, which means a fixed schema is required.
3.Best suited for complex queries.
4.Examples include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.
  NoSQL Databases:

Non-relational databases
.
1.Designed for large-scale data storage and for real-time web applications.
2.Schema-less, which means no fixed schema is required.
3.Can handle structured, semi-structured, and unstructured data.
4.Examples include MongoDB, Cassandra, Redis, and CouchDB.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

What is DDL?

DDL (Data Definition Language) is used to ,define and modify the database structure. 
It includes commands like CREATE, DROP, ALTER, and TRUNCATE.

In [ ]:
# CREATE: Used to create a new table or database:
        
CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(100),
    Age INT,
    Department VARCHAR(50)
);

DROP: Used to delete an existing table or database

     DROP TABLE Employees;

ALTER: Used to modify an existing database object, like a table.
    
    ALTER TABLE Employees ADD COLUMN Salary DECIMAL(10, 2);

TRUNCATE: Used to remove all records from a table, but not the table itself.
    
    TRUNCATE TABLE Employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

What is DML?

DML (Data Manipulation Language) is used for managing data within schema objects.
It includes INSERT, UPDATE, and DELETE.


1.INSERT: Used to add new records to a table.
    INSERT INTO Employees (ID, Name, Age, Department) VALUES (1, 'John Doe', 30, 'HR');
    

2.UPDATE: Used to modify existing records in a table.
    UPDATE Employees SET Age = 31 WHERE ID = 1;

3.DELETE: Used to remove existing records from a table.
    DELETE FROM Employees WHERE ID = 1;

# Q4. What is DQL? Explain SELECT with an example.

What is DQL?

DQL (Data Query Language) is used to query the database and fetch data. 
The primary command is SELECT.

SELECT: Used to retrieve data from the database.
    SELECT * FROM Employees WHERE Department = 'HR';

# Q5. Explain Primary Key and Foreign Key.

Primary Key: A field (or combination of fields) that uniquely identifies each record in a table. 
It cannot be NULL.

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(100)
);




Foreign Key: A field (or combination of fields) that links to the primary key in another table. 
    It ensures referential integrity.
    
    CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    EmployeeID INT,
    FOREIGN KEY (EmployeeID) REFERENCES Employees(ID)
);

# Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

In [ ]:


import mysql.connector 


# establishing the connection 

mydb=mysql.connector.connect(
host ="localhost" ,
user="username" , 
password="password" , 
database="databasename"
)


# creating a cursor object 

mycursor=mydb.cursor()


# executing a sql query 

mycursor.execute("select * from table_name")


# fetching the results 

result = mycursor.fetchall()

# printing the results 


for row in result :
    print(row)

# Q7. Give the order of execution of SQL clauses in an SQL query.

1.FROM
2.JOIN
3.WHERE
4.GROUP BY
5.HAVING
6.SELECT
7.DISTINCT
8.ORDER BY
9.JOIN